<html>
    <%- include("./partials/head.ejs") %>

    <body>
        <div class="container">
        <h1>Budgtr New Page</h1>
        <form action="">
            
        </form>
        </div>
    </body>
</html>
